<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="title" content="PCR Test Calculator">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- <script type = "text/javascript" src = "js/vue.js"></script> -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <title>PCR Test Calculator</title>
</head>

<body>
    <div id="pcr_calc">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <h1 class="navbar-brand text-white" href="#">PCR Test Calculator</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown ">
                        <a v-if="locale === 'de'" class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sprache
        </a>
                        <a v-else class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language
        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="min-width: 1rem;" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" v-for="lang in languages" @click="locale = lang"><img v-if="lang === 'de'" src="./src/locales/de.svg" width="40" height="30">
                                <img v-else src="./src/locales/en.svg" width="40" height="30"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <test1></test1>
        <!-- <pcr-comp locale={{locale}}></pcr-comp> -->
        <component v-bind:is="currentComponent" :arg=testdata></component>
    </div>

    <!-- Footer -->
    <div class="card bg-secondary text-center text-white">

        <div class="card-body">
            <h5 class="card-title">Support or Donation</h5>
            <p class="card-text">If you appreciate my work, you can help by contributing to the code or doing a donation on Paypal. <a class="btn btn-primary" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=B8SHK9SX96PQU&source=url" rel="nofollow"
                    target="_blank">Support</a></p>

            <p class="card-text">Please write any suggestions or issues directly on Github: <a class="btn btn-primary" href="https://github.com/ywiyogo/covid-graphs/issues" target="_blank">Report issues</a></p>
            <p class="card-text">&#169; Yongkie Wiyogo</p>
            <br>
        </div>
    </div>
    </footer>

    <script>
    </script>
    <script src="src/pcr-calculator.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

</body>

</html>