<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="title" content="PCR Test Calculator">
    <meta name="description"
        content="A calculator or simulator for understanding the PCR test based on the Bayes' theorem in the epidemiology.">
    <meta name="keywords" content="PCR test, Bayes' theorem, Covid-19 test, False Positive covid test">
    <meta name="author" content="Yongkie Wiyogo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- <script type = "text/javascript" src = "js/vue.js"></script> -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <title>PCR Test Calculator</title>
</head>

<body>
    <div id="pcr_calc">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <h1 class="navbar-brand text-white" href="#">PCR Test Calculator</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown ">
                        <a v-if="locale === 'de'" class="nav-link dropdown-toggle text-white" href="#"
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Sprache
                        </a>
                        <a v-else class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="min-width: 1rem;"
                            aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" v-for="lang in languages" @click="locale = lang">
                                <p v-if="lang === 'de'" width="40" height="30">Deutsch</p>
                                <p v-else width="40" height="30">English</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <component v-bind:is="currentComponent"></component>
    </div>


    <script>
    </script>
    <script src="src/pcr-calculator.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>

</body>

</html>